rest:
    urlBase: http://127.0.0.1
    pathBase: /api/
doorkeeper:
    epicPid:
        pswd:
oai:
    info:
        baseUrl: http://127.0.0.1/oaipmh/
    search:
        repoBaseUrl: http://127.0.0.1/api/
resolver:
    repositories:
        self:
            baseUrl: http://127.0.0.1/api/

